:root {
    --white: #fff;
    --black: #000;
    --denim-blue: #0171E3;
    --ghost-white: #FDFDFF;
    --cerebral-grey: #CCC;
    --carbon: #333;
    --dim-grey:#6A6A6A;
    }
nav img {
    width: 50px;
    height: 50px;
    background-color:  var(--white);
    border-radius: 50px;
}
header img {
    max-height: 550px;
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--carbon);
}
.box-shadow {  
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--carbon);
    }

/* project */
.project-listing {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: scroll;
  }
.small-text {
    font-size: 12px;
}
.about-me img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    }

.project-listing img {
    /* max-width: 50%; */
    max-height: 450px;
    border-radius: 10px;
}
.project-listing img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
/* footer */
.my-footer-box {
    max-height: 145px;
    overflow-x: scroll;
}