:root {
    --white: #fff;
    --black: #000;
    --denim-blue: #0171E3;
    --ghost-white: #FDFDFF;
    --cerebral-grey: #CCC;
    --carbon: #333;
    --dim-grey:#6A6A6A;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
nav img {
    width: 50px;
    height: 50px;
    background-color:  var(--white);
    border-radius: 50px;
}
header img {
    max-height: 550px;
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--carbon);
}
a {
    color: var(--black);
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color:var(--denim-blue);
}
a:active {
    color: var(--denim-blue);
}

/* Button */
.button {
    background-color: rgb(14, 13, 13);
    color:var(--white);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}
.button:hover {
    background-color: var(--denim-blue);
    color:var(--black);
}
/* .fix-me {
    position: fixed;
    top: 300px;
    background-color:var(--denim-blue);
} */
/* form */
.my-form{
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}
.my-form label {
    display: inline;
}
.my-form input[type="text"] {
    padding:5px;
    width:100%;
}

/* navbar  */
    /* nav .container{
        background-color: var(--white);
        display: flex;
        align-content: center;
        margin: 20px;
        border-bottom: 1px var(--cerebral-grey) solid;
    }
    nav .logo {
        display: flex;
        width: 100%;
    }

    nav .container h1 {
        font-weight: bold;
        font-size: 50px;
    }
    nav img {
        width: 50px;
        height: 50px;
        background-color:  var(--white);
        border-radius: 50px;
    }
    nav .menu {
        align-items: right;
    }
    nav .menu ul {
        list-style: none;
        display: flex;
    } */

/* header  */


/* Main container */
/* main .container {
    display: flex;
    flex-direction: column;
} */

/* About Me */
 .about-me {
    border-radius: 5px; 
    background-color: var(--ghost-white);
    box-shadow: 0 3px 5px var(--carbon);
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.about-me img {
    max-height: 250px;
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--carbon);
}
.about-me img:hover {
    
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
.about-me p {
    color: var(--dim-grey);;
    text-align: center;
}

.about-me .tablebox {
    /* margin-top: 10px; */
    /* display: flex; */
    /* justify-content: space-around; */
}
[class^="tablebox-"] {
    display: flex;
    /* align-items: center; */
}


/* Experience */
.experience {
    background: var(--ghost-white);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 3px 5px var(--carbon);
}
.experience .mywork {
    border-bottom: 1px solid var(--dim-grey);
    align-content: center;
}
[class^="workbox-"] p {
    color: var(--dim-grey);
}

.experience h1 {
    text-align: center;
    font-weight: bold;
}

/* Education  */
.box-shadow {  
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--carbon);
}

/* portfolio */
.portfolio {
    background-color: var(--ghost-white);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 3px 5px var(--carbon);
}
.portfolio .header h1 {
    border-bottom: 1px solid var(--dim-grey);
    align-content: center;
}
.portfolio .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.portfolio img {
   max-width: 50%;
   max-height: 300px;
   border-radius: 10px;
}
.portfolio img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


/* contact */
.contact {
    background-color: var(--white);
    min-height: 100px;
    background: url(../images/contactbg.png) no-repeat;
    border-radius: 5px;
    background-size: 100% auto;
    background-position: center;
    box-shadow: 0 3px 5px var(--carbon);
    margin: 20px;
}
.contact .header {
    border-bottom: 1px solid var(--dim-grey);
    align-content: center;
}
.contact .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.contact ul {
    list-style: none;
    padding-left: 10px;;
}
.contact h1 {
    margin: 10px;
    text-align: center;
}


[class^="workbox-"] h3{
    opacity: 80%;
    font-size:15px
}
[class^="workbox-"] h5{
    opacity: 50%;
    font-size:12px;
    padding-left: 10px;
}


/* footer */
footer .container {
    font-size: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--cerebral-grey);
}

footer .social-media ul {
    display: flex;
    list-style: none;
    margin-bottom: 25px;
    font-size: 15px;
}
footer li {
    margin-right: 20px;
}
footer .copyright {
    align-items: right;
}

/* responsive */
@media (max-width: 768px) {
    /* nav .container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    } */
    
    .about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .about-me .tablebox {
        display: flex;
        flex-direction: column;
    }
    .contact {
        background-image: none;
        background-color: var(--white);
    }
}
@media (max-width: 406px) {
    /* nav .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    nav .logo {

        align-items:center;
    } */
    .contact .row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contact {
        background-image: none;
        background-color: var(--white);
    }

}